.box-breeds {
  margin: 0 10%;
  padding-bottom: 1em;
}

.box-breeds h1 {
  padding: 0 0 0.5em;
}

.cat-breeds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.photos-breeds {
  transition: 0.25s;
}

.photos-breeds:hover {
  transform: scale(1.05);
}

.cat-breeds figcaption {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-weight: 300;
  translate: 0 -35px;
}

.cat-breeds img {
  width: 230px;
  border-radius: 20%;
  border: 2px solid black;
  padding: 30px;
}
