* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background-color: rgb(247, 247, 247);
}

/* Media Queries */
/* Mobile */
@media only screen and (max-width:500px) {
  .home-page img{
    justify-content: center;
    width: 100%;
  }
}

/* Tablet */
@media only screen and (min-width:768px) {
  .home-page img{
    justify-content: center;
    width: 100%;
  }

}


/* Laptop */
@media only screen and (min-width:1280px) {
  .home-page img{
    justify-content: center;
    width: 100%;
  }

}